*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    height: 50px;
    width: 80px;
    
}

.product-img{
    object-fit:contain;
    height:200px;
    width:100%;
}
.admin-image{
    width:100px;
    object-fit: contain;
}
.card{
    box-shadow: 5px 10px #888888;
}




/* .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
} */



